<h2><%= @task.title %></h2>
<input class="form-check-input" type="checkbox"  <%=@task.completed%> >
<label for="task1"><%=@task.details%></label>

<%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<button type="button" class="btn"><%= link_to "Index", tasks_path%></button>
